@using Data.Movie
@using Data.ViewModels
@using Client.Pages
@using System.Collections.Generic


    <div class="movie-detail">
        @if (this.Movie != null)
        {
            <h2  class="movie-detail-title">@this.Movie.Title</h2>
            <span class="movie-detail-id">#@this.Movie.ID</span>
            <span class="movie-detail-genre">Genre: <span>@this.Movie.Genre</span></span>
            <span class="movie-detail-writer">Writer: <span>@this.Movie.Writer</span></span>
            <span class="movie-detail-director">Director: <span>@this.Movie.Director</span></span>
            <span class="movie-detail-awards">Awards: <span>@this.Movie.Awards</span></span>
            <span class="movie-detail-rating">IMDb rating: <span>@this.Movie.Rating</span></span>

            <p class="movie-detail-plot">@this.Movie.Plot</p>

            @if (this.Movie.Poster != "N/A")
            {
                <img class="movie-detail-poster" src="@(this.Movie.Poster)" />
            }

            <table>
                <tbody>
                    @foreach (var rating in this.Movie.Ratings)
                    {
                        <tr>
                            <td>@rating.Source</td>
                            <td>@rating.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <span>Couldn't find movie...</span>
        }
    </div>

@code {
    [Parameter]
    public MovieDetailViewModel Movie { get; set; }
}
