@using Data.Movie
@using Data.ViewModels
@using Client.Pages
@using System.Collections.Generic


    <div class="movie-detail">
        @if (this.Movie != null)
        {
            <h2  class="movie-detail-title">@this.Movie.Title</h2>
            <span class="movie-detail-id">#@this.Movie.ID</span>
            <span class="movie-detail-genre">Genre: @this.Movie.Genre</span>
            <span class="movie-detail-writer">Writer: @this.Movie.Writer</span>
            <span class="movie-detail-director">Director: @this.Movie.Director</span>
            <span class="movie-detail-awards">Awards: @this.Movie.Awards</span>
            <span class="movie-detail-rating">Rating: @this.Movie.Rating</span>

            <p class="movie-detail-plot">@this.Movie.Plot</p>

            @if (this.Movie.Poster != "N/A")
            {
                <img class="movie-detail-poster" src="@(this.Movie.Poster)" />
            }
        }
        else
        {
            <span>Couldn't find movie...</span>
        }
    </div>

@code {
    [Parameter]
    public MovieDetailViewModel Movie { get; set; }
}
