@using Data.ViewModels

@inject NavigationManager NavigationManager

@if (this.Movie != null)
{
    <div class="movie-display">
        <div class="movie-display-text">
            <h2>@this.Movie.Title</h2>
            <span class="movie-display-text-type">Type: @this.Movie.Type</span>
            <span class="movie-display-text-year">Year: @this.Movie.Year</span>
            <span class="movie-display-text-id">ID: @this.Movie.ID</span>
        </div>
        
        <div class="movie-display-poster" style="background-image: url(@("\"" + this.Movie.Poster + "\""))"></div>
        @*<img src="@this.Movie.Poster" alt="@($"Poster of {this.Movie.Title}")" />*@
        <button @onclick="GetDetail">Detail</button>
    </div>
}

@code  {
    [Parameter]
    public MovieViewModel Movie { get; set; }

    public void GetDetail()
    {
        this.NavigationManager.NavigateTo($"moviedetail/{this.Movie.ID}");
    }
}
