@using Data.ViewModels

@inject NavigationManager NavigationManager

@if (this.Movie != null)
{
    <h2>@this.Movie.Title</h2>
    <span>Type: @this.Movie.Type</span>
    <span>Year: @this.Movie.Year</span>
    <span>Tag: @this.Movie.ID</span>
    <img src="@this.Movie.Poster" alt="@($"Poster of {this.Movie.Title}")" />
    <button @onclick="GetDetail">Detail</button>
}

@code  {
    [Parameter]
    public MovieViewModel Movie { get; set; }

    public void GetDetail()
    {
        this.NavigationManager.NavigateTo($"moviedetail/{this.Movie.ID}");
    }
}
